#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #E63946;
  font-family: monospace;

  animation:
    typing 4s steps(var(--chars), end) infinite,
    blink 0.7s step-end infinite;
}

/* Typing + deleting */
@keyframes typing {
  0%   { width: 0 }
  40%  { width: calc(var(--chars) * 1ch) }
  60%  { width: calc(var(--chars) * 1ch) }
  100% { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent }
}