@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-sans;
  background-color: #f1f1f1;
  overflow-x: hidden;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

@keyframes infinite-marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-marquee {
  animation: infinite-marquee 28s linear infinite;
}

@keyframes glow-text-slow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: -200% 50%;
  }
}

.animate-glow-text-slow {
  animation: glow-text-slow 7s ease-in-out infinite;
}


@keyframes glow-text-slow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: -200% 50%;
  }
}

.animate-glow-text-slow {
  animation: glow-text-slow 7s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}